.App {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
    background-color: #360cf2;
    color: #1f1d1d;
    padding: 70px 70px;
    border: none;
    border-radius: 400px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

  
}

.nav {
 color: rgb(251, 247, 247);
}

/* styles.css */
body {
    background-image: url('images\ \(2\).jpg');

}

h1 {
  color: rgb(39, 8, 8);
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 20px;
  background-color: #fff;
}

/* Style the card title */
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

/* Style the card content */
.card-content {
  margin: 10px 0;
  color: #666;
}