.App {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
    background-color: #bdbdbd;
    color: #050000;
    padding: 100px 190px;
    border: none;
    border-radius: 400px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

  
}

.nav {
 color: rgb(0, 0, 0);
}

img {
  width: 200px; /* Set the width of the image */
  height: auto; /* Maintain the aspect ratio */
  border: 2px solid #333; /* Add a border with a color */
  border-radius: 10px; /* Add rounded corners to the border */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}